@{
    ViewBag.Title = "Home Page";
}
<div class="schedules">
    <div class="item">
        <p>Database systems</p>
        <p>Computer graphics</p>
        <p>Programming</p>
    </div>
    <div class="item">
        <p>Database systems</p>
        <p>Computer graphics</p>
        <p>Programming</p>
    </div>
    <div class="item">
        <p>Database systems</p>
        <p>Computer graphics</p>
        <p>Programming</p>
    </div>
    <div class="item">
        <p>Database systems</p>
        <p>Computer graphics</p>
        <p>Programming</p>
    </div>
    <div class="item">
        <p>Database systems</p>
        <p>Computer graphics</p>
        <p>Programming</p>
    </div>
    <div class="item">
        <p>Database systems</p>
        <p>Computer graphics</p>
        <p>Programming</p>
    </div>
</div>