@{
    ViewBag.Title = "Home Page";
}
<div class="schedules">
    <select multiple>
        <option>Database systems</option>
        <option>Computer graphics</option>
        <option>Programming</option>
        <option>Architecture design</option>
    </select>
    <select multiple>
        <option>Database systems</option>
        <option>Computer graphics</option>
    </select>
    <select multiple>
      
    </select>
    <select multiple>
        <option>Database systems</option>
        <option>Computer graphics</option>
    </select>
    <select multiple>

    </select>
    <select multiple>
   
    </select>
</div>