body {
  position: fixed;
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background: url(schedule.jpeg) no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-size: 1.2em;
}
select option {
  line-height: 20px;
}
.body {
  position: fixed;
  float: left;
  width: 100%;
  height: 100%;
}
footer {
  width: 100%;
  height: 55px;
  line-height: 1.2em;
  position: absolute;
  bottom: 15px;
  text-align: center;
}
#container {
  margin-top: 100px;
  position: fixed;
  float: left;
  top: 12%;
  padding: 25px;
  background-color: #000;
  background: rgba(0, 0, 0, 0.2);
}
.wrapper {
  height: 100%;
}
#title {
  font-size: 2em;
  position: fixed;
  margin: 40px 0 0 40px;
  background: url(Schedule.svg) no-repeat;
  background-size: 620px 685px;
  width: 500px;
  height: 200px;
}
#left-bar {
  float: left;
  width: 20%;
  height: 100%;
  background-color: #000;
  background: rgba(0, 0, 0, 0.5);
  padding: 1px 0;
}
#left-bar ul {
  padding: 0;
}
#left-bar ul li {
  list-style-type: none;
  padding: 1% 5%;
}
#left-bar ul li:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#right-bar {
  width: 80%;
  height: 100%;
  display: table;
}
.page-title {
  font-size: 2.5em;
  text-align: right;
  border: 2px dashed #ff6a00;
  height: 50px;
  display: table-row;
}
.page-title p {
  display: table-cell;
}
#content {
  font-size: 0.8em;
  width: 100%;
  height: 100%;
  border: 1px dashed #b94a48;
  display: table-row;
}
.select {
  border: none;
  overflow: hidden;
  float: left;
  background: rgba(0, 0, 0, 0.5);
}
.select option {
  padding: 2% 3%;
}
.select option:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.schedules {
  font-size: 0.6em;
}
.schedules select {
  margin: 3% 0 0 3%;
  padding: 2% 0;
  width: 30%;
  height: 30%;
  min-height: 160px;
  border: none;
  overflow: hidden;
  float: left;
  background: rgba(0, 0, 0, 0.5);
}
.schedules select option {
  padding: 2% 3%;
}
.schedules select option:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
select,
input,
button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 42px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 2em;
}
input {
  font-size: 1em;
}
#management {
  display: table-cell;
}
#management .inner-content {
  float: left;
  width: 100%;
  height: 100%;
  padding-left: 25px;
}
#management .inner-content > select {
  width: 45%;
  height: 100%;
  float: left;
}
#management .inner-content > select option {
  padding-left: 20px;
  line-height: 40px;
}
#management .inner-content .details {
  float: left;
  width: 55%;
}
#management .inner-content .details p {
  padding-left: 25px;
  font-size: 2em;
}
#management .inner-content .details p input {
  width: 100%;
}
#panel {
  float: left;
  width: 45%;
}
#panel select {
  margin-top: 3%;
  width: 100%;
  clear: both;
  border: none;
  overflow: hidden;
  float: left;
  background: rgba(0, 0, 0, 0.5);
}
#panel select option {
  padding: 2% 3%;
}
#panel select option:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#schedule {
  width: 50%;
  float: left;
}
#schedule select {
  width: 100%;
  height: 100%;
  margin: 3% 0 0 3%;
  border: none;
  overflow: hidden;
  float: left;
  background: rgba(0, 0, 0, 0.5);
}
#schedule select option {
  padding: 2% 3%;
}
#schedule select option:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#commit-panel {
  position: absolute;
  clear: both;
  right: 25px;
  bottom: 25px;
  vertical-align: bottom;
}
button:hover {
  background-color: #9a9a9a;
}
.table {
  display: table;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
}
/* styles for validation helpers */
.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
